h1{
    color: red;
}

body{
    background-color: black;
    width:100%;
    height:100%;
    font-size: large;
    color:"red";
    font-family: 'Courier New', Courier, monospace;
}


h3{
color:"yellow";
}

h2{
color: red;
}
